.shadowed-parent-behind--master {
  position: absolute;
  z-index: 0;
  height: 55px;
  background-color: #34aae1;
  width: 30px;
  bottom: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 12px;
}

.shadowed-parent-behind-- {
  z-index: 1;
  position: absolute;
  height: 56px;
  background-color: #34aae1;
  width: 100%;
  bottom: -2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.folder-top-wrapper-- {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  height: 70px;
  width: 60px;
}

.folder-img-wrapper {
  width: 60px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.page {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
}

.page.first {
  background-color: #60d0ff;
  height: 46px;
  z-index: 4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.page.second {
  background-color: #60d0ff;
  height: 48px;
  z-index: 3;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.page.third {
  background-color: #60d0ff;
  height: 50px;
  z-index: 2;
}
