.switch-controller-- {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  z-index: 10;
}

.switchyyy {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  perspective: 300px;
}

.wrapper-- {
  width: 100%;
  display: flex;
}

.wrapper--.align_left .switchyyy,
.wrapper--.default_pos .switchyyy {
  margin: 0 2% 0 auto;
}

.wrapper--.align_right .switchyyy,
.wrapper--.align_top .switchyyy {
  margin: 0 2% 0 2%;
}

.switchyyy.light-theme {
  background: #f4f4f4;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.clicky-meee.light-theme {
  width: 30px;
  height: 40px;
  border-radius: 5px;
  background: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 3px,
    rgba(0, 0, 0, 0.4) 0px 6px 10px, rgba(0, 0, 0, 0.25) 0px 10px 20px -5px,
    rgba(0, 0, 0, 0.2) 0px -10px 0px, inset rgba(0, 0, 0, 0.1) 2px 0px 4px,
    inset rgba(0, 0, 0, 0.1) -2px 0px 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* transform: perspective(300px) rotateX(-5deg); */
}

.switchyyy.dark-theme {
  background: #2a2a2a;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.clicky-meee.dark-theme {
  width: 30px;
  height: 40px;
  border-radius: 5px;
  background: #3a3a3a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 10px,
    rgba(0, 0, 0, 0.25) 0px 10px 20px 5px, rgba(0, 0, 0, 0.2) 0px 10px 0px,
    inset rgba(0, 0, 0, 0.1) 2px 0px 4px, inset rgba(0, 0, 0, 0.1) -2px 0px 4px;

  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* transform: perspective(300px) rotateX(5deg); */
}
